{% extends '../Base.html' %}
{% load static %}
<!--

    {% block css %}
    {% endblock %}
    
-->
{% block content %}
<html>
<head>
  <link rel="stylesheet" href="https://assets.btcdn.co/res/css/customer.css?1686327306">
</head>
<body>

  <div id="wrapper">

    <div id="box" class="container">
  <h2>Ingresa tus datos para acceder</h2>

  <div id="flash">
  </div>

  <div class="slider">
    <form action="" method="post">
      {% csrf_token %}

      <p>
        ¿No tienes cuenta?
        <a id="color2 right" href="{% url 'registro' %}" style="margin-top: 10px">Haz click aquí</a>
        para crear una.
      </p>

      <fieldset>
        <!--
        <label for="user_email">Tu email:</label>
        <input tabindex="1" placeholder="ej: usuario@mail.com" type="email" name="email" id="user_email" value="">
        
        <a class="right" href="{% url 'registro' %}">Recuperar Contraseña</a>

        <label for="user_password">Contraseña:</label>
        <input tabindex="2" type="password" name="password" id="user_password">
        -->
        {{form}}
        <p class="submit" style="margin-top: 10px;">
          <input class="primary bootic_button" type="submit" value="Ingresar" tabindex="3">
          &nbsp;o <a id="color2 right" href="{% url 'Home' %}" style="margin: 10px">Volver a la tienda</a>
        </p>
      </fieldset>

    </form>
  </div><!-- /slider -->

</div><!-- /container -->

</div>
</body>
</html>
{% endblock content  %}