{% extends '../Base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
</br>
<head>
</head>
<body>

    <main>
    <div class="row">
      <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h1 class="d-flex justify-content-center simple-list-item-1">Catalogo</h1>
        <br/>
        <br/>
        <br/>
            <section class="d-flex justify-content-center "> 
              <p><h1>Bicicletas</h1></p>
              <div class='imgHome'>
              </section>
              <br/>
            <br/>
            <br/>
              <section class="container"> 
                  <div class=" row"> 
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(1)ARO 29 MERAK 1 NEGRA 249.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(2)BICICLETA BIANCHI ADVANTAGE 275 SX $219.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(3)Trek marlin 4 2022 verde 27.5 399.000.webp' %}" alt="imagen">
                </div>
                <div class=" row"> 
                    <div class="col-md-4"> <p>Descripcion:ARO 29' MERAK 1 NEGRA. $249.990</p> </div>
                    <div class="col-md-4"> <p>Descripcion:BICICLETA BIANCHI ADVANTAGE 27.5' SX. $219.990</p> </div>
                    <div class="col-md-4"> <p>Descripcion:Trek marlin 4 2022 verde 27.5' $399.000</p> </div>
                </div>
              <div class="row"> 
                <div class="col-md-4">
                  <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
                </div>
                <div class="col-md-4">
                  <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
                </div>
                <div class="col-md-4">
                  <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
                </div>
              </div>
            </br>
            <br/>
                  <div class="row"> 
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(4)Oxford Aro 29 Orion 4 202210 299.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(5)BICICLETA BIANCHI MOUNTAIN 27.5 $279.990.jpg' %}" alt="imagen">
                    <img class="col-md-4" src="{% static 'tienda/img/1categoria/(6)Trek Marlin7verde1 aro 29 599.000.webp' %}" alt="imagen">
                  </div>
                  <div class="row"> 
                    <div class="col-md-4"> <p>Descripcion:Oxford Aro 29' Orion 4 2022. $299.990</p> </div>
                    <div class="col-md-4"> <p>Descripcion:BICICLETA BIANCHI MOUNTAIN 27.5' $279.990</p> </div>
                    <div class="col-md-4"> <p>Descripcion:Trek Marlin7verde1 aro 29' $599.000</p></div>
                </div>
              <div class="row"> 
                <div class="col-md-4">
                  <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
                </div>
                <div class="col-md-4">
                  <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
                </div>
                <div class="col-md-4">
                  <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
                </div>
              </div>
            </br>
            <br/>
                </section> 
                <br/>
                <a class="icono" href="{% url 'Producto' %}"><img src="{% static 'tienda/img/icono.ico' %}" alt="icono"></a></h3>  
                <br/>
                <br/>
                <br/>
        
        <section class="d-flex justify-content-center "> 
          <h1 class="simple-list-item-2 ">Nuevos</h1>
            <p><h2> </h2></p>
            <br/>
            <br/>
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(1)BICICLETA 2022 FENIX ARO 29 NEGRO $149.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(2)BICICLETA URBANA LAHSEN BOLLEN ARO 700 2019 $104.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(3)Jeep Bicicleta Mountain Bike Baltoro Aro 29 $ 249.990.jpg' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:BICICLETA 2022 FENIX ARO 29 NEGRO. $149.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:BICICLETA URBANA LAHSEN BOLLEN ARO 700 2019. $104.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:Jeep Bicicleta Mountain Bike Baltoro Aro 29' $249.990</p> </div>
            </div>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
            </div>
        </br>
        </br>
      
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(4)BICICLETA 2022 PRIORE ARO 27.5 DORADO $134.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(5)BICICLETA URBAN QUILLAY ARO 700 BURDEO 2019 $92.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/2nuevos/(6)Jeep Bicicleta MTB Baltoro Pro Aro 29 $ 269.990.jpg' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:BICICLETA 2022 PRIORE ARO 27.5 DORADO. $134.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:BICICLETA URBAN QUILLAY ARO 700 BURDEO 2019. $92.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:Jeep Bicicleta MTB Baltoro Pro Aro 29' $269.990</p> </div>
            </div>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
            </div>
          </br>
          <br/>
            </section>
            <br/>
            <a class="icono" href="{% url 'Producto' %}"><img src="{% static 'tienda/img/icono.ico' %}" alt="icono"></a></h3>  
            <br/>
            <br/>
            <br/>
        <section class="d-flex justify-content-center "> 
          <h1 class="simple-list-item-3">Marca</h1>
          <p><h2> </h2></p>
          <br/>
          <br/>
          <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/3marca/(1)Oxford.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/3marca/(2)Trek.png' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/3marca/(3)Bianchi.png' %}" alt="imagen">
            </div>
            <br/>
        </br>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/3marca/(4)bessati.webp' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/3marca/(5)lahsen.png' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/3marca/(6)jeep.jpg' %}" alt="imagen">
              </div>
            </section>
            <br/>
            <a class="icono" href="{% url 'Producto' %}"><img src="{% static 'tienda/img/icono.ico' %}" alt="icono"></a></h3>  
            <br/>
            <br/>
            <br/>
        <section class="d-flex justify-content-center "> 
          <h1 class="simple-list-item-4">Modelo</h1>
          <p><h2> </h2></p>
          <br/>
          <br/>
          <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/4modelo/(1)Jeep Bicicleta Mountain Bike Baltoro Aro 29 $ 249.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/4modelo/(2)BICICLETA Besatti 2022 SPEED 700X25C $76.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/4modelo/(3)BICICLETA URBANA LAHSEN BOLLEN ARO 700 2019 $104.990.jpg' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:Bicicletas de montaña (MTB):
                  Las bicicletas de montaña son robustas y diseñadas para recorrer terrenos accidentados y senderos fuera de carretera. Son adecuadas para aventuras todoterreno, senderos con obstáculos y terrenos irregulares. </p> </div>
                <div class="col-md-4"> <p>Descripcion:Bicicletas urbanas:
                  Las bicicletas urbanas, también conocidas como bicicletas de ciudad o bicicletas urbanas, están diseñadas para desplazamientos diarios y viajes en entornos urbanos. Son adecuadas para desplazamientos cortos o medios en la ciudad, para ir al trabajo, a la tienda o para recorrer calles y carriles bici pavimentados.</p> </div>
                <div class="col-md-4"> <p>Descripcion:Bicicletas de ruta:
                  Las bicicletas de ruta, también conocidas como bicicletas de carretera o de carrera, están diseñadas para la velocidad y la eficiencia en carreteras pavimentadas. Son excelentes para recorridos rápidos y eficientes en carreteras asfaltadas.</p> </div>
            </div>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Bicicleta Mountain Bike</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Bicicleta Ruta</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Bicicleta Urbana</button>
              </div>
            </div>
          </br>
          <br/>
            </section>
            <br/>
            <a class="icono" href="{% url 'Producto' %}"><img src="{% static 'tienda/img/icono.ico' %}" alt="icono"></a></h3>  
            <br/>
            <br/>
            <br/>
        <section class="d-flex justify-content-center "> 
          <h1 class="simple-list-item-5">Genero</h1>
          <p><h2> </h2></p>
          <br/>
          <br/>
          <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/5genero/(1)BICICLETA URBAN QUILLAY ARO 700 BURDEO 2019 $92.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/5genero/(2)oxford mujer aro 27.5 precio 199.990.webp' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/5genero/(3)oxford unisex $359.000.webp' %}" alt="imagen">
            </div>
            </br>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Hombre</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Mujer</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Unisex</button>
              </div>
            </div>
            </section>
            <br/>
            <a class="icono" href="{% url 'Producto' %}"><img src="{% static 'tienda/img/icono.ico' %}" alt="icono"></a></h3>      
            <br/>
            <br/>
            <br/>
        <section class="d-flex justify-content-center "> 
          <h1 class="simple-list-item-6">Aro</h1>
          <p><h2> </h2></p>
            <br/>
            <br/>
            <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/6aro/(1)Trek marlin5 disco hidraulico 2022, celeste 27 Antes $650.000 Ahora $469.000.webp' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/6aro/(2)BICICLETA BIANCHI ADVANTAGE 275 SX $219.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/6aro/(3)Oxford Aro 29 Orion 4 202210 299.990.jpg' %}" alt="imagen">
            </div>
            <div class=" row"> 
              <div class="col-md-4"> <p>Descripcion:Las ruedas de aro 27 son populares para el ciclismo de montaña en general y se adaptan bien a una amplia variedad de condiciones y estilos de conducción.</p> </div>
              <div class="col-md-4"> <p>Descripcion:Las ruedas de aro 27.5 pulgadas  ofrecen un equilibrio entre agilidad y estabilidad. Son más ágiles y maniobrables que las ruedas más grandes, lo que las hace adecuadas para terrenos técnicos y sinuosos. Además, son más livianas y pueden acelerar más rápido.</p> </div>
              <div class="col-md-4"> <p>Descripcion:Las ruedas de aro 29 pulgadas ofrecen una mayor capacidad de rodadura y son ideales para terrenos más abiertos y velocidades más altas. Son especialmente adecuadas para senderos rápidos y rectos, ya que mantienen el impulso y la velocidad con mayor eficiencia.</p> </div>
          </div>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Aro 27</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Aro 27.5</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Aro 29</button>
              </div>
            </div>
          </br>
          <br/>
            </section>
            <br/>
            <a class="icono" href="{% url 'Producto' %}"><img src="{% static 'tienda/img/icono.ico' %}" alt="icono"></a></h3>  
            <br/>
            <br/>
            <br/>
        <section class="d-flex justify-content-center "> 
          <h1 class="simple-list-item-7">Frenos</h1>
          <p><h2> </h2></p>
          <br/>
          <br/>
          <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/7frenos/BLOOKE-freno de disco hidráulico de 4 pistones 33.000.webp' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/7frenos/El freno de disco Shimano MT 200 de diseño estilizado y estable para uso de MTB, con sistema hidráulico de frenada,potencia y rendimiento. $45.000.webp' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/7frenos/El freno doble de cuatro pistones transmite directamente la presión del aceite al bloque de frenos para mejorar la eficiencia de frenado. 30.000.webp' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:BLOOKE-freno de disco hidráulico de 4 pistones. $33.000</p> </div>
                <div class="col-md-4"> <p>Descripcion:El freno de disco Shimano MT 200 de diseño estilizado y estable para uso de MTB, con sistema hidráulico de frenada,potencia y rendimiento. $45.000</p> </div>
                <div class="col-md-4"> <p>Descripcion:El freno doble de cuatro pistones transmite directamente la presión del aceite al bloque de frenos para mejorar la eficiencia de frenado. $30.000</p> </div>
            </div>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
            </div>
          </br>
          <br/>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/7frenos/Juego de frenos de bicicleta Universal AKANTOR, disco hidráulico de bicicleta de montaña, freno $22.000.webp' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/7frenos/Juego de frenos de disco hidráulicos para bicicleta de montaña $42.000.webp' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/7frenos/SET FRENOS HIDRAULICOS SIRIUS MOUNTAIN BIKE  $ 37.990.webp' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:Juego de frenos de bicicleta Universal AKANTOR, disco hidráulico de bicicleta de montaña. $22.000</p> </div>
                <div class="col-md-4"> <p>Descripcion:Juego de frenos de disco hidráulicos para bicicleta de montaña. $42.000</p> </div>
                <div class="col-md-4"> <p>Descripcion:SET FRENOS HIDRAULICOS SIRIUS MOUNTAIN BIKE. $37.990</p> </div>
            </div>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
            </div>
          </br>
          <br/>
            </section>
            <br/>
            <a class="icono" href="{% url 'Producto' %}"><img src="{% static 'tienda/img/icono.ico' %}" alt="icono"></a></h3>  
            <br/>
            <br/>
            <br/>
        <section class="d-flex justify-content-center "> 
          <h1 class="simple-list-item-8">Descuentos</h1> 
          <p><h2> </h2></p>
          <br/>
          <br/>
          <br/>
          </section>
          <section class="container"> 
              <div class=" row"> 
                <img class="col-md-4" src="{% static 'tienda/img/8descuentos/(1)BICICLETA DE RUTA CORSA 700C 14V NEGRO Antes $550.000 Ahora $349.900.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/8descuentos/(2)Trek marlin5 disco hidraulico 2022, celeste 27 Antes $650.000 Ahora $469.000.webp' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/8descuentos/(3)BICICLETA 2022 FENIX ARO 29 NEGRO, Antes $280.000 Ahora $149.990.jpg' %}" alt="imagen">
            </div>
            <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:BICICLETA DE RUTA CORSA 700C 14V NEGRO Antes: $550.000 Ahora: $349.900</p> </div>
                <div class="col-md-4"> <p>Descripcion:Trek marlin5 disco hidraulico 2022, celeste 27 Antes: $650.000 Ahora: $469.000</p> </div>
                <div class="col-md-4"> <p>Descripcion:BICICLETA 2022 FENIX ARO 29 NEGRO, Antes: $280.000 Ahora: $149.990</p> </div>
            </div>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
            </div>
          </br>
          <br/>
              <div class="row"> 
                <img class="col-md-4" src="{% static 'tienda/img/8descuentos/(4)BICICLETA MTB OXYGEN FROST ARO 27,5 AZUL Antes $350.000 Ahora $159.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/8descuentos/(5)BICICLETA OXFORD HALLEY ARO 27 ROJO  Antes $450.000 Ahora $219.990.jpg' %}" alt="imagen">
                <img class="col-md-4" src="{% static 'tienda/img/8descuentos/(6)BICICLETA MERAK 1 ARO 29 TALLA M ROJO-NEGRO Antes $450.000 Ahora $219.990.jpg' %}" alt="imagen">
              </div>
              <div class=" row"> 
                <div class="col-md-4"> <p>Descripcion:BICICLETA MTB OXYGEN FROST ARO 27,5 AZUL Antes: $350.000 Ahora: $159.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:BICICLETA OXFORD HALLEY ARO 27 ROJO  Antes: $450.000 Ahora: $219.990</p> </div>
                <div class="col-md-4"> <p>Descripcion:BICICLETA MERAK 1 ARO 29 TALLA M ROJO-NEGRO Antes: $450.000 Ahora: $219.990</p> </div>
            </div>
            <br/>
            <div class="row"> 
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
              <div class="col-md-4">
                <button class="boton rounded-start rounded-end " type="submit">Agregar al Carro</button>
              </div>
            </div>
          </br>
          <br/>
            </section>
            <br/>
                <a class="icono" href="{% url 'Producto' %}"><img src="{% static 'tienda/img/icono.ico' %}" alt="icono"></a></h3>  
                <br/>
                <br/>
                <br/>
              </div>
            </div>
    </div>

  
    <table border>
        <!--titupo de mi tabla toda fea-->
        <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Carrito</th>
        <th>Comprar</th>
        
        </tr>
        <!-- lineas que se reperiran hasta que se aburra-->

        {% for p in productos %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.cantidad }}</td>
            <td>{{ p.marca }}</td>
            <td>{{ p.precio }}</td>
            <td>
                <img src="{{ p.imagen.url }}" width="30px" height="30px">
                
            </td>
            <td><a href="{% url 'detalles' producto_id=p.id %}">hola</a></td>
            <td><a href="{% url 'agregar_producto_carrito' producto_id=p.id %}"><button>Carrito</button></a></td>

        </tr>
        {% endfor %}
        
    </table>
    {% include "./Carrito.html" %}
</main>

</body>
</html>
{% endblock content  %}